<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TMTWebSFC</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Main</servlet-name>
    <jsp-file>/WEB-INF/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OPC_Setting</servlet-name>
    <jsp-file>/WEB-INF/OPC_Setting.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OPC_Setting</servlet-name>
    <url-pattern>/OPC_Setting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AOI_Setting</servlet-name>
    <jsp-file>/WEB-INF/AOI_Setting.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AOI_Setting</servlet-name>
    <url-pattern>/AOI_Setting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Part_Setting</servlet-name>
    <jsp-file>/WEB-INF/Part_Setting.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Part_Setting</servlet-name>
    <url-pattern>/Part_Setting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>report_01</servlet-name>
    <jsp-file>/WEB-INF/report_01.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>report_01</servlet-name>
    <url-pattern>/report_01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>report_02</servlet-name>
    <jsp-file>/WEB-INF/report_02.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>report_02</servlet-name>
    <url-pattern>/report_02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>report_03</servlet-name>
    <jsp-file>/WEB-INF/report_03.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>report_03</servlet-name>
    <url-pattern>/report_03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>report_04</servlet-name>
    <jsp-file>/WEB-INF/report_04.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>report_04</servlet-name>
    <url-pattern>/report_04</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>report_05</servlet-name>
    <jsp-file>/WEB-INF/report_05.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>report_05</servlet-name>
    <url-pattern>/report_05</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>report_07</servlet-name>
    <jsp-file>/WEB-INF/report_07.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>report_07</servlet-name>
    <url-pattern>/report_07</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/WEB-INF/Login.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nav</servlet-name>
    <jsp-file>/WEB-INF/nav.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>nav</servlet-name>
    <url-pattern>/nav</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Report</servlet-name>
    <jsp-file>/WEB-INF/Report.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
</web-app>